#!/usr/bin/make -f

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

flavours := azbooka-n516 v3 n516

DATADIR=/usr/share/usbwatcher

configure: configure-stamp
configure-stamp:
	dh_testdir
	CFLAGS="$(CFLAGS)" ./autogen.sh --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr
	touch $@

build: build-stamp
build-stamp: configure
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_clean
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f *-stamp
	rm -f $(CURDIR)/data/*.lzma

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/usbwatcher

	for FLAVOUR in $(flavours); do \
		PKGDIR=$(CURDIR)/debian/usbwatcher-data-$$FLAVOUR; \
		mkdir -p $$PKGDIR$(DATADIR); \
		install -T -m 0644 $(CURDIR)/data/$$FLAVOUR.cfg $$PKGDIR$(DATADIR)/$$FLAVOUR.cfg; \
	done

	mk-rawpic -d3 $(CURDIR)/data/usb-mount.png $(CURDIR)/data/usb-mount
	lzma $(CURDIR)/data/usb-mount
	mk-rawpic -r270 -d3 $(CURDIR)/data/usb-mount.png $(CURDIR)/data/usb-mount-270
	lzma $(CURDIR)/data/usb-mount-270
	
	install -m 0644 $(CURDIR)/data/usb-mount.lzma $(CURDIR)/debian/usbwatcher-data-v3$(DATADIR)/oi-usb-mount.lzma
	install -m 0644 $(CURDIR)/data/usb-mount-270.lzma $(CURDIR)/debian/usbwatcher-data-n516$(DATADIR)/oi-usb-mount-270.lzma
	install -m 0644 $(CURDIR)/data/usb-mount-270.lzma $(CURDIR)/debian/usbwatcher-data-azbooka-n516$(DATADIR)/azbooka-usb-mount-270.lzma


binary-arch: build install
	dh_testdir
	dh_testroot
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_strip
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install

binary: binary-arch binary-indep

.PHONY: clean install build binary binary-arch binary-indep
